<div class="container">
	<ng-nav-wizard #wizard (completed)="onComplete()">

		<ng-template stepperNav let-steps="steps" let-index="index" let-fn="fn">
			<div class="d-flex flex-column">
				<button *ngFor="let step of steps; let i=index" class="btn" [class.btn-primary]="i === index"
					(click)="wizard.goTo(i)">
					{{ step.title }}
				</button>
			</div>
		</ng-template>

		<ng-step title="asdf0">
			<!-- <ng-template stepTrigger let-title="title">
				<button class="b4 rounded" (click)="wizard.goTo(0)">dafsdfasdfk asdfñlj asd</button>
			</ng-template> -->
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum vitae sem sit amet iaculis. Proin id
				odio
				non nulla ullamcorper volutpat. Aliquam eu magna finibus, molestie dui a, mollis nulla. Integer vel
				velit et
				purus aliquam bibendum. Cras rhoncus arcu quis ante luctus, et pulvinar eros pulvinar. Cras aliquet
				porttitor justo, sed condimentum nisi vulputate a. Aliquam diam velit, tempus sed pharetra non, bibendum
				eu
				nulla. Fusce eu leo et dui faucibus faucibus a eget turpis. Curabitur vulputate quam turpis, sit amet
				efficitur mi porttitor at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium justo
				nec
				sem ullamcorper interdum a ac lacus. Fusce pharetra, elit at congue sollicitudin, dui dui molestie
				lectus,
				non interdum magna sem nec lorem. Duis lacinia porttitor gravida. In eget nibh blandit, ornare nunc ut,
				scelerisque mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis leo arcu, a
				rhoncus
				ante laoreet sit amet.</p>
			<button prevStepButton>
				Anterior
			</button>
			<button nextStepButton>
				Siguiente
			</button>
		</ng-step>
		<ng-step title="asdf1">
			<p>Suspendisse euismod auctor tempus. Curabitur posuere pharetra nisi, at dictum nulla mattis nec. Ut non
				commodo quam, blandit accumsan leo. Donec ultricies hendrerit arcu, in congue diam iaculis sed. Proin
				felis
				erat, sagittis at suscipit at, pharetra vel orci. Duis congue sem eu cursus varius. Sed nec enim ac
				turpis
				laoreet egestas tempus non elit. Cras sollicitudin odio in vestibulum laoreet.</p>
		</ng-step>
		<ng-step title="asdf2">
			<p>Pellentesque nec nunc vehicula, placerat neque nec, gravida augue. Curabitur cursus, lectus vitae
				convallis
				tempor, ante massa tempor orci, eu egestas orci mi in arcu. Nullam pretium in sem ac rutrum. In ac ante
				vel
				lacus mattis ullamcorper. Donec congue, est viverra mollis porttitor, urna est consequat elit, a aliquam
				purus risus a tortor. Pellentesque ultricies, elit sit amet congue rutrum, sapien turpis ornare tortor,
				at
				mattis turpis metus sed tortor. Sed vehicula et erat sed mollis. Etiam efficitur nibh at justo posuere,
				quis
				facilisis nulla facilisis. Nunc nibh orci, pharetra sed mattis sit amet, fringilla non dui. Aliquam erat
				volutpat. Maecenas id eros pharetra, aliquet odio eget, consequat augue. Aliquam auctor sapien sed
				sapien
				sagittis, in varius dolor laoreet. Vivamus rhoncus nunc eget odio rutrum venenatis. Suspendisse id
				libero
				fermentum, vestibulum orci dignissim, pellentesque mauris.</p>
		</ng-step>
		<ng-step title="asdf3">
			<p>In sagittis sed ipsum id luctus. Praesent sed lorem tortor. Vestibulum accumsan euismod urna vitae
				suscipit.
				Fusce maximus ligula erat, a lacinia odio elementum id. Duis auctor eros a enim dignissim tempus. Duis
				bibendum interdum sem, egestas finibus neque eleifend at. Proin porttitor luctus eleifend. Vestibulum
				nec mi
				tincidunt, lobortis nibh eget, dignissim ex. Mauris tristique lacus nulla, sit amet venenatis metus
				porta
				sed.</p>
		</ng-step>
		<ng-step title="asdf4">
			<p>Sed pellentesque eu leo vel hendrerit. Integer non velit eros. Integer metus lorem, dapibus eget dui a,
				suscipit laoreet justo. Donec eu varius nunc, eu dignissim odio. Nam tempor eget ipsum blandit
				efficitur.
				Etiam malesuada scelerisque ultricies. Vestibulum tempor felis est, eu dapibus diam auctor nec. Quisque
				augue ligula, suscipit eu lectus nec, consequat convallis tortor. Class aptent taciti sociosqu ad litora
				torquent per conubia nostra, per inceptos himenaeos.</p>
		</ng-step>
	</ng-nav-wizard>

</div>
