<!--begin::Nav-->
<ng-container [ngTemplateOutlet]="stepperNavTpt || defaultNavTpt"
	[ngTemplateOutletContext]="{steps: steps, index: index}"></ng-container>
<!--end::Nav-->

<!--begin::Content-->
<div class="stepper-content">
	<ng-template [ngTemplateOutlet]="step?.innerTemplate"></ng-template>
</div>
<!--end::Content-->

<!--begin::Buttons-->
<ng-container *ngIf="defaultNav">
	<div class="stepper-buttons d-flex p-4">
		<button class="btn btn-light" (click)="goTo(index - 1)" *ngIf="index > 0">
			<i class="fas fa-chevron-left mr-2 me-2"></i>Back</button>
		<button class="btn btn-primary ml-auto ms-auto" (click)="goTo(index + 1)"
			*ngIf="index < steps.length -1">Continue<i class="fas fa-chevron-right ml-2 ms-2"></i></button>
		<button class="btn btn-primary ml-auto ms-auto" (click)="complete()"
			*ngIf="index === steps.length - 1">Submit</button>
	</div>
</ng-container>
<!--end::Buttons-->

<!-- begin:default-nav -->
<ng-template #defaultNavTpt>
	<div class="stepper stepper-links d-flex flex-column between">

		<nav class="nav nav-pills nav-fill m-4">
			<!--begin::Step-->
			<ng-container *ngFor="let step of steps; let i=index;">
				<ng-container [ngTemplateOutlet]="step?.stepTriggerTpt || defaultTriggerTpt"
					[ngTemplateOutletContext]="{title: step.title, index: i}">
				</ng-container>
			</ng-container>
			<!--end::Step-->
		</nav>
	</div>
</ng-template>
<!-- end:default-nav -->

<!-- begin:default-trigger -->
<ng-template #defaultTriggerTpt let-title="title" let-i="index">
	<a role="button" class="nav-link" (click)="goTo(i)" [class.active]="index === i">
		<span class="stepper-title" *ngIf="title">{{ title }}</span>
	</a>
</ng-template>
<!-- end:default-trigger -->
